.container {
    padding: 15px 0;
  }
  .content {
    position: relative;
  }
  .screen {
      display: block;
      width: 300px;
      height: 250px;
      overflow: hidden;
      position: relative;
      border: 1px solid #b3b3b3;
      border-radius: 1px;
      margin: 0 auto;
  }
  .screen img {
      bottom: -720px;
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 0;
    margin:0;
    padding:0;
      -webkit-transition: top 11s;
      -moz-transition: top 11s;
      -ms-transition: top 11s;
      -o-transition: top 11s;
      transition: bottom 11s;
  }
  .screen:hover img {
    bottom: 0;
    -webkit-transition: all 11s;
    -moz-transition: all 11s;
    -ms-transition: all 11s;
    -o-transition: all 11s;
    transition: all 11s;
  }
  .read-more-less--more{
    color:crimson;
    font-weight: bold;
    
  }
  .read-more-less--more:hover{
    color:red;
    font-weight: bold;
    border-bottom: 1px solid crimson;
  }
  .read-more-less--less {
    color:whitesmoke;
    font-weight: bold;
  }
  .read-more-less--less:hover {
    color:crimson;
    font-weight: bold;
  }
